h2.new-header {
	font-size: 30px;
}

.big-logo-height {
	overflow: visible;
}

.new-search-form {
	vertical-align: middle;
	float: right;
}
.simplebox {
  outline: none;
  border:none !important;
  box-shadow:none !important;
}
.btn {
	border: none;
}
.btn:hover {
	background-color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	background-color: #ffffff;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
}
.btn:active, .btn.active {
	box-shadow: none;
	-webkit-box-shadow: none;
}
a.hover {
	text-decoration: underline !important;
	border-bottom: 1px solid #587d99;
}
.new-button {
	padding-right: 0px;
}
.metro .horizontal-menu li {
	margin-right: 0;
}
.user-area .nav-item a {
	font-size: 1.4em;
}
.user-area .nav-item a:hover {
	text-decoration: none;
	color: #ffffff;
}
.metro * {
	color: #587d99;
}
.metro a {
    color: #587d99;
}
.metro a:hover {
    color: #587d99;
}
.metro.search-form {
    text-align: right;
}
.metro .input-control.text {
    margin-top: 0;
    margin-bottom: 0;
    height: 28px;
}
.second-header > * {
    line-height: 10px;
}
.second-header .nav {
    line-height: 26px;
}
.tabs a {
    font-size: 20px;
}
.tabs a.selected {
    font-size: 20px;
    text-decoration: underline;
}
.tabs a.selected.recent-tags {
    text-decoration: none;
}
.tabs a {
    font-size: 20px;
}
.post-item {
    width: 100%;
}
.metro .horizontal-menu a.dropdown-toggle:hover + .dropdown-menu.new[data-show="hover"] {
    right: 70px;
    display: block;
}
.metro .horizontal-menu .dropdown-menu.new[data-show="hover"]:hover {
    right: 70px;
    display: block;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer.dark-footer {
    border-top: 4px solid #587d99;
    background-color: #ffffff;
}
.footer-menu a {
    color: #587d99;
    font-size: 20px;
}
.tabs.tabs-tag {
    float: right;
}
